
@{
    ViewData["Title"] = "Markets - Investment Manager";
}

<h2>Nothing to See Here</h2>
<p>
    This is just a demo app.  So this page never gor built out.  
    But it felt like there should be one more menu item to make it look like a real app, 
    even though it isn't
</p>
