@{
    ViewData["Title"] = "Home Page";
}


<h1>Miniprofiler Demo App</h1>
<div class="row">
    <div class="col-md-7">
        <p>
            Miniprofiler is a lightweight library that allows you to track the performance of your server side
            ASP.NET and ASP.NET Core code.
        </p>
        <p>
            You can place custom timings around important code segments to see how long they run and how often they are called
        </p>
        <p>
            You can also track the performance of your SQL statements.  Additional NuGet package track the
            performance of Entity Framework queries or you can wrap your ADO.NET connections with a special
            special class to track their performance
        </p>
        <p>
            You can even include your own custom timings for things like API calls by writing just a few lines of code
        </p>
        <p>
            Best of all, Miniprofiler is simple to install and puts all the results you need right at your fingertips
        </p>
    </div>
    <div class="col-md-5 text-right">
        <img src="~/images/Miniprofiler.PNG" height="400px"/>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Miniprofiler Website</h3>
        <ul>
            <li><a href="https://miniprofiler.com/" target="_blank">MiniProfiler.com Main Site</a></li>
            <li><a href="https://miniprofiler.com/dotnet/AspDotNetCore" target="_blank">ASP.NET Core Setup</a></li>
            <li><a href="https://github.com/MiniProfiler/dotnet" target="_blank">MiniProfiler GitHub Repository</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Pluralsight Course</h3>
        <p>
            This is the sample application for a Pluralsight course on Miniprofiler.
        </p>
        <p>
            You can check the course at <a href="https://www.pluralsight.com/" target="_blank">Pluralsight</a>.  It is
            just 30 minutes long, so it designed for busy people like you.
        </p>
    </div>
    <div class="col-md-4">
        <h3>About Me</h3>
        <p>
            I work at Pluralsight on Curriculum team.  Before that, I worked as as a
            Solutions Architect/Tech Lead/Senior Developer for about 20 years in a number of industries.
        </p>
        <p>
            I'm been working with <a href="https://www.microsoft.com/net" target="_blank">.NET</a> since it came out in 2002.  
            I'm a <a href="https://app.pluralsight.com/profile/author/david-berry" target="_blank">Pluralsight Author</a> and frequently
            speak at Meetups, Code Camps and other events in the Midwest.
        </p>
        <p>
            You can follow me on Twitter at <a href="https://twitter.com/DavidCBerry13" target="_blank">@@DavidCBerry13</a>
        </p>
    </div>
    
</div>
